{% extends 'base.html' %}
{% load tz %}

{% block title %}Account | {{ block.super }}{% endblock title %}

{% block content %}

<h1>Account</h1>

<div id="change-timezone-target-div"></div>

<p>
    Hi, {{ request.user.username }}.<br>
    Member since: {{ request.user.date_joined|timezone:request.user.profile.preferred_timezone|date:'l, Y-m-d' }}
</p>

<p>
    Timezone info: {{ request.user.profile.preferred_timezone }}
    (<a
                hx-get="{% url 'account_select_timezone' %}"
                hx-target="#change-timezone-target-div"
                hx-swap="innerHTML"
                href="#">Change</a>)
</p>

{% endblock content %}