{% extends "base.html" %}

{% block head %}
{{ block.super }}
{% include 'partials/noindex_nofollow.html' %}
{% endblock head %}

{% block title %}{{ dailylist.created|date:'Y-m-d' }} | {{ block.super }}{% endblock title %}

{% block content %}
<h1>
    {{ dailylist.created|date:'Y-m-d' }}
    <small class="text-body-secondary">{{ dailylist.created|date:'l' }}</small>
</h1>

<table class="table">
    <thead>
    <tr class="">
        <th scope="col">
            <button
                    hx-get="{% url 'task_create' dailylist.uid %}"
                    hx-target="#new-task-placeholder"
                    hx-swap="beforebegin"
                    type="button"
                    class="btn btn-success btn-sm">
                <i class="bi bi-plus-lg"></i> New Task
            </button>
        </th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for task in dailylist.tasks.all %}
    {% include 'partials/task_table_row.html' with task=task %}
    {% empty %}
    {% include 'partials/task_edit.html' with dailylist_uid=dailylist.uid form=form %}
    {% endfor %}
    <tr id="new-task-placeholder"></tr>
    </tbody>
</table>
{% endblock content %}