{% extends "base.html" %}
{% load tz %}

{% block head %}
{{ block.super }}
{% include 'partials/noindex_nofollow.html' %}
{% endblock head %}

{% block title %}
{{ dailylist.created_dt|timezone:dailylist.reference_timezone|date:'Y-m-d' }} |
{{ block.super }}
{% endblock title %}

{% block content %}
<div id="change-timezone-target-div"></div>

{% include 'partials/dailylist/head.html' with dailylist=dailylist %}

{% include 'partials/dailylist/tasks.html' with dailylist=dailylist %}

{% endblock content %}