{% extends "base.html" %}
{% load tz %}

{% block head %}
{{ block.super }}
{% include 'partials/noindex_nofollow.html' %}
{% endblock head %}

{% block title %}{{ dailylist.effective_date|date:'Y-m-d' }} | {{ block.super }}{% endblock title %}

{% block nav %}
{% include 'partials/nav_daily_list.html' with dailylist=dailylist %}
{% endblock nav %}

{% block content %}
{% get_current_timezone as TIME_ZONE %}
<h1>Your current timezone: {{ TIME_ZONE }}</h1>
<p>
    DailyList.created: {{ dailylist.created }}<br>
    DailyList.created utc: {{ dailylist.created|utc }}<br>
    DailyList.created America/Denver: {{ dailylist.created|timezone:"America/Denver" }}<br>
</p>
<ul class="list-group list-group-flush">
    {% include 'partials/task_edit.html' with dailylist_uid=dailylist.uid form=form %}
    {% for task in dailylist.tasks.all %}
    {% include 'partials/task_table_row.html' with task=task %}
    {% endfor %}
</ul>
{% endblock content %}