{% extends "center_card.html" %}

{% block title %}Reset your password{% endblock %}

{% block card %}
<div class="card-header">
  <h5 class="card-title">Reset your password</h5>
  <p>Enter your email address to receive a password reset link.</p>
</div>
<div class="card-body text-center">
  <form method="post">
    <div>{{ form.email.label }}</div>
    <p>{{ form.email }}</p>
    {% if form.email.errors %}
    <ul>
      {% for e in form.email.errors %}
      <li class="text-danger">{{ e }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% csrf_token %}
    <p class="card-text">
      <input class="btn btn-primary" type="submit" value="Send e-mail">
    </p>
  </form>
</div>
{% if form.non_field_errors %}
<div class="card-footer d-flex flex-wrap">
  <ul>
    {% for e in form.non_field_errors %}
    <li class="text-danger">{{ e }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}

{% block footer %}{% endblock %}