{% extends "center_card.html" %}

{% block title %}Reset your password{% endblock %}

{% block card %}
<div class="card-header">
  <h5 class="card-title">Reset your password</h5>
  {% if validlink %}
  <p class="card-text">Please enter and confirm your new password.</p>
  {% endif %}
</div>

{% if validlink %}
<div class="card-body text-center">
  <form method="post">
    <div>{{ form.new_password1.label }}</div>
    <p>{{ form.new_password1 }}</p>
    {% if form.new_password1.errors %}
    <ul>
      {% for e in form.new_password1.errors %}
      <li class="text-danger">{{ e }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div>{{ form.new_password2.label }}</div>
    <p>{{ form.new_password2 }}</p>
    {% if form.new_password2.errors %}
    <ul>
      {% for e in form.new_password2.errors %}
      <li class="text-danger">{{ e }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% csrf_token %}
    <div class="card-text">
      <input class="btn btn-primary" type="submit" value="Change my password" />
    </div>
  </form>
</div>

<div class="card-footer d-flex flex-column">
  {% if form.non_field_errors %}
  <ul>
    {% for e in form.non_field_errors %}
    <li class="text-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {{ form.new_password1.help_text }}
</div>

{% else %}
<div class="card-body">
  <p class="card-text">
    The password reset link was invalid, possibly because it has already been used.
  </p>
  <p class="card-text">
    Please request a new <a href="{% url 'password_reset' %}">password reset</a>.
  </p>
</div>
{% endif %}

{% endblock %}

{% block footer %}{% endblock %}