{% load tz %}
<nav class="navbar navbar-expand-lg bg-body-tertiary flex-column">
    <div class="container-fluid d-flex flex-sm-wrap">
        <a class="navbar-brand order-0" href="/">ScoreMyTodo</a>

        <ul class="navbar-nav px-3 order-sm-2">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Hi {{ request.user.username }}!
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{% url 'account' %}">Account</a>
                    </li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            <button class="dropdown-item" type="submit">Logout</button>
                            {% csrf_token %}
                        </form>
                    </li>
                </ul>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log-in</a>
            </li>
            {% endif %}
        </ul>

        {% if dailylist %}
        <div class="d-flex flex-column mx-auto justify-content-center align-items-center order-sm-1">
            <div class="mb-0">
                <a
                        href="{% url 'change_daily_list' dailylist.uid 'previous' %}"
                        class="btn"
                        role="button">
                    <i class="bi bi-chevron-left"></i>
                </a>
                {% with created_dt_tz=dailylist.created_dt|timezone:dailylist.reference_timezone %}
                <span id="list-date">
                    {{ created_dt_tz|date:'Y-m-d' }}
                    <small class="text-body-secondary">{{ created_dt_tz|date:'l' }}</small>
                </span>
                {% endwith %}
                {% if not dailylist.can_create_update_tasks %}
                {# This is a janky way to keep users from trying to move forward a day #}
                {# when they are on today's list. #}
                {# todo: Should explicitly check if there is a next (and previous!) todo #}
                {# todo: this rearranges the layout when switch from today to not today #}
                {# and only show arrow buttons if so. #}
                <a
                        href="{% url 'change_daily_list' dailylist.uid 'next' %}"
                        class="btn"
                        role="button">
                    <i class="bi bi-chevron-right"></i>
                </a>
                {% endif %}
            </div>
            {% if not dailylist.can_create_update_tasks %}
            <div class="m-0">
                <small>
                    <a class="" href="{% url 'todays_list' %}">
                        Go to today's list
                        <i class="bi bi-arrow-right-short"></i>
                    </a>
                </small>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% if dailylist %}
    <div class="container-fluid mt-2">
        {% include 'partials/progress_bar.html' with completed_percentage=dailylist.completed_percentage %}
    </div>
    {% endif %}
</nav>