<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ScoreMyTodo</a>

        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a
                            class="nav-link{% if section == 'dashboard' %} active"
                            aria-current="page{% endif %}"
                            href="{% url 'dashboard' %}">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link{% if section == 'today' %} active"
                            aria-current="page{% endif %}"
                            href="{% url 'todays_list' %}">
                        Today
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Hi {{ request.user.username }}!
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'account' %}">Account</a>
                        </li>
                        <li>
                            <form action="{% url 'logout' %}" method="post">
                                <button class="dropdown-item" type="submit">Logout</button>
                                {% csrf_token %}
                            </form>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log-in</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>