<nav class="navbar navbar-expand-lg bg-body-tertiary flex-column">
    <div class="container-fluid">
        <div class="navbar-brand d-flex align-items-center flex-row">
            {% if dailylist.can_move_effective_date_back %}
            <form
                    method="post"
                    action="{% url 'daily_list_day_move' uid=dailylist.uid direction='back' %}">
                {% csrf_token %}
                <button type="submit" class="btn" title="Move date back 1 day">
                    <i class="bi bi-chevron-left" aria-description="Move date back 1 day"></i>
                </button>
            </form>
            {% endif %}
            <span>
                {{ dailylist.effective_date|date:'Y-m-d' }}
                <small class="text-body-secondary">{{ dailylist.effective_date|date:'l' }}</small>
            </span>
            {% if dailylist.can_move_effective_date_forward %}
            <form
                    method="post"
                    action="{% url 'daily_list_day_move' uid=dailylist.uid direction='forward' %}">
                {% csrf_token %}
                <button type="submit" class="btn" title="Move date forward 1 day">
                    <i class="bi bi-chevron-right" aria-description="Move date forward 1 day"></i>
                </button>
            </form>
            {% endif %}
        </div>
        <ul class="navbar-nav px-3">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Hi {{ request.user.username }}!
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{% url 'account' %}">Account</a>
                    </li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            <button class="dropdown-item" type="submit">Logout</button>
                            {% csrf_token %}
                        </form>
                    </li>
                </ul>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log-in</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="container-fluid">
        {% include 'partials/progress_bar.html' with completed_percentage=dailylist.completed_percentage %}
    </div>
</nav>