{% load tz %}
<nav class="navbar navbar-expand-lg bg-body-tertiary flex-column">
    <div class="container-fluid">
        <div class="navbar-brand">
            {% with created_dt_tz=dailylist.created_dt|timezone:dailylist.reference_timezone %}
            {{ created_dt_tz|date:'Y-m-d' }}
            <small class="text-body-secondary">{{ created_dt_tz|date:'l' }}</small>
            {% endwith %}
        </div>
        <ul class="navbar-nav px-3">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Hi {{ request.user.username }}!
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{% url 'account' %}">Account</a>
                    </li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            <button class="dropdown-item" type="submit">Logout</button>
                            {% csrf_token %}
                        </form>
                    </li>
                </ul>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log-in</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="container-fluid">
        {% include 'partials/progress_bar.html' with completed_percentage=dailylist.completed_percentage %}
    </div>
</nav>