{% load tz %}
<nav class="navbar navbar-expand-lg bg-body-tertiary flex-column">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a
                    href="{% url 'change_daily_list' dailylist.uid 'previous' %}"
                    class="btn"
                    role="button">
                <i class="bi bi-chevron-left"></i>
            </a>
            {% with created_dt_tz=dailylist.created_dt|timezone:dailylist.reference_timezone %}
            {{ created_dt_tz|date:'Y-m-d' }}
            <small class="text-body-secondary">{{ created_dt_tz|date:'l' }}</small>
            {% endwith %}
            {% if not dailylist.can_create_update_tasks %}
            {# This is a janky way to keep users from trying to move forward a day #}
            {# when they are on today's list. #}
            {# todo: Should explicitly check if there is a next (and previous!) todo #}
            {# and only show arrow buttons if so. #}
            <a
                    href="{% url 'change_daily_list' dailylist.uid 'next' %}"
                    class="btn"
                    role="button">
                <i class="bi bi-chevron-right"></i>
            </a>
            {% endif %}
        </div>
        <ul class="navbar-nav px-3">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Hi {{ request.user.username }}!
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{% url 'account' %}">Account</a>
                    </li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            <button class="dropdown-item" type="submit">Logout</button>
                            {% csrf_token %}
                        </form>
                    </li>
                </ul>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log-in</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="container-fluid">
        {% include 'partials/progress_bar.html' with completed_percentage=dailylist.completed_percentage %}
    </div>
</nav>