<li id="task-{{ task.pk }}" class="list-group-item">
    <div class="d-flex flex-row">
        <input
                class="form-check-input me-3"
                type="checkbox"
                id="task-{{ task.pk }}-checkbox"
                {% if task.completed %}
                checked
                {% endif %}>
        <div id="task-{{ task.pk }}-description" class="me-3">
            {{ task.description }}
        </div>
        <div class="ms-auto">
            <a
                    href="#"
                    hx-post="{% url 'task_delete' task.daily_list.uid task.pk %}"
                    hx-swap="delete"
                    hx-target="#task-{{ task.pk }}"
                    class="link-danger">
                <i class="bi bi-trash3"></i>
            </a>
        </div>
    </div>
</li>