<li
        {% if form.instance.pk %}
        id="task-{{ task.pk }}"
        {% else %}
        id="task-new"
        {% endif %}
        class="list-group-item">
    <div class="d-flex flex-row">
        <input
                class="form-check-input me-3"
                type="checkbox"
                disabled>
        <div class="me-3">
            <form>
                {% csrf_token %}
                <div class="input-group">
                    {{ form.description }}
                    <button
                            {% if form.instance.pk %}
                            hx-post="{% url 'task_edit' dailylist_uid form.instance.pk %}"
                            hx-target="#task-{{ task.pk }}"
                            {% else %}
                            hx-post="{% url 'task_create' dailylist_uid %}"
                            hx-target="#task-new"
                            {% endif %}
                            hx-trigger="click"
                            hx-swap="outerHTML"
                            class="btn btn-outline-primary btn-sm"
                            id="button-addon">
                        Save <i class="bi bi-arrow-return-left"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</li>